[submodule "Carthage/Checkouts/CellSource"]
	path = Carthage/Checkouts/CellSource
	url = https://github.com/Rep2/CellSource.git
[submodule "Carthage/Checkouts/CollectionViewSimpleDequeue"]
	path = Carthage/Checkouts/CollectionViewSimpleDequeue
	url = https://github.com/Rep2/CollectionViewSimpleDequeue.git
[submodule "Carthage/Checkouts/TableViewSimpleDequeue"]
	path = Carthage/Checkouts/TableViewSimpleDequeue
	url = https://github.com/Rep2/TableViewSimpleDequeue.git
